<div class="jumbotron text-center entry" style="position: relative">
    <div class="container">
        <div class="row">
            <svg class="main_logo">
              <use xlink:href="/logo-no-foot.svg#Layer_1" />
            </svg>
        </div>
        <div class="row tit">
            <h1 class="tk-droid-serif text-shadow brown">Exzeo Knockathon</h1>
        </div>
        <div class="row stit tk-anisette-petite">
            <h2 class="brown text-shadow">11 - 12 September 2015</h2>
        </div>
        <div class="row" style="margin-top: 80px;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/joW4sa_34rs" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
