<title>Exzeo Knockathon 2015</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
<script>
    (function (d) {
        var config = {
                    kitId: 'tco4ujm',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement, t = setTimeout(function () {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a;
        h.className += " wf-loading";
        tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
            a = this.readyState;
            if (f || a && a != "complete" && a != "loaded")return;
            f = true;
            clearTimeout(t);
            try {
                Typekit.load(config)
            } catch (e) {
            }
        };
        s.parentNode.insertBefore(tk, s)
    })(document);
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-67219791-1', 'auto');
    ga('send', 'pageview');

</script>

<link rel="stylesheet" href="/stylesheets/timer.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
<script src="/javascripts/timer.js"></script>
<script src="https://use.typekit.net/tco4ujm.js"></script>
<script>

    var _MS_PER_DAY = 1000 * 60 * 60 * 24;

    $.fn.flash = function (duration, iterations) {

        var el = this;
        this.animate({
            backgroundColor: "#ffffcc"
        }, 1500, function () {
            setTimeout(function () {
                el.animate({
                    backgroundColor: '#e9edec'
                }, 1500);
            }, 500);
        });


        return this;
    };

    // a and b are javascript Date objects
    function dateDiffInDays(a, b) {
        // Discard the time and time-zone information.
        var utc1 = Date.UTC(a.getFullYear(), a.getMonth(), a.getDate());
        var utc2 = Date.UTC(b.getFullYear(), b.getMonth(), b.getDate());

        return Math.floor((utc2 - utc1) / _MS_PER_DAY);
    }

    $(document).ready(function () {
        timerSetup();
        elementSize();

        $(window).on("hashchange", function () {
            window.scrollTo(window.scrollX, window.scrollY - 100);
            if (location.hash.lastIndexOf('sec') > 0) {
                $(location.hash).flash(200, 1);
            }
        });
    });

    $(window).bind("resize", elementSize);

    function timerSetup() {

        var timerMessage = $("#timer-message");

        var start = new Date();
        var target = new Date(2015, 8, 11, 6, 30, 0, 0);
        var time = start.getTime() + dateDiffInDays(start, target) * 24 * 60 * 60 * 1000;

        var underline = function (val) {
            return '<span class="themeu">' + val + '</span>'
        };

        $('.clock').countdown({
            timestamp: time,
            callback: function (days, hours, minutes, seconds) {
                var message = "";

                message += underline(days) + " day" + ( days == 1 ? '' : 's' ) + ", ";
                message += underline(hours) + " hour" + ( hours == 1 ? '' : 's' ) + ", ";
                message += underline(minutes) + " minute" + ( minutes == 1 ? '' : 's' ) + " and ";
                message += underline(seconds) + " second" + ( seconds == 1 ? '' : 's' );

                message += " left!";

                timerMessage.html(message);
            }
        });
    }

    function elementSize() {

        var entry = $(".entry");
        var navbar = $(".navbar");
        var rule = $(".rules");
        var register = $(".register");
        var theme = $(".theme");
        var whatis = $(".what-is-it");
        var teams = $(".teams");

        var newHeight = $(window).height();

        if (entry.height() <= newHeight)
            entry.height(newHeight);

        if (whatis.height() <= newHeight) {
            whatis.height(newHeight);
            console.log("setting height for whatis");
        }

        if (register.height <= newHeight) {
            register.height(newHeight);
            console.log("setting height for register");
        }

        if (theme.height() <= newHeight) {
            theme.height(newHeight);
            console.log("setting height for theme");
        }

        if (rule.height() <= newHeight) {
            rule.height(newHeight);
            console.log("setting height for rule");
        }

        if (teams.height() <= newHeight) {
            teams.height(newHeight);
            console.log("setting height for teams");
        }

        $("#time-div").css("marginTop", newHeight / 4);
        $(".main_logo").css("height", newHeight - 250);
    }

</script>

