<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
    <div class="container">

        <ul class="nav navbar-nav">
            <li>
                <a href="#what-is-it"></span>What is it?</a>
            </li>
            <li>
                <a href="https://devcenter.heroku.com/articles/how-heroku-works">Rules &amp; Guidelines</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right">
                <a href="https://devcenter.heroku.com">
                    Register now
                </a>
            </li>
        </ul>
    </div>
</nav>
