<div class="container-fluid border border-yellow"></div>
<div class="container-fluid bg-yellow register">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-0 pd-5">
                <h1 id="register-now" class="text-shadow huge">Register now</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-0 tk-droid-serif list">
                <p>OK. So you're interested.</p>

                <p>There are two ways you can participate in the Knockathon. Either as a team member
                in that case you have join someone or you can start your own team. Cool, right?</p>

                [TBD .. place content here that explains the usage of Exzeo and all. Here we need to use API to build Join now and Register now kind of features]
            </div>
        </div>
    </div>
</div>