<div class="container-fluid border rules_border"></div>
<div class="container-fluid bg-gray rules">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-0">
                <h1 id="rules" class="text-shadow huge">Rules and Guidelines</h1>
            </div>
        </div>
        <div class="tk-anisette-petite">
            <div class="row">

                <div id="team-formation" class="col-md-12 col-md-offset-0 list">
                    <h2 class="medium">Team Formation</h2>
                    <ul>
                        <li>
                            Each team should have minimum of 2 and maximum of 5 team members. This is very important.
                        </li>
                        <li>
                            Each team should have people playing two different roles &ndash;
                            <ul>
                                <li><strong>Champs</strong>&ndash; those who know how to create something, such as writing code or making maps. In other words, the technical role.
                                </li>
                                <li>
                                    <strong>Hustlers</strong>&ndash; those who can plan, ideate, present, design etc. In other words, the non-technical role.
                                </li>
                            </ul>
                        </li>
                        <li>
                            We recommend, 1 hustler and 2 champs if you're 3 in size or 1 hustler and 3 champs if you're 4 in size. But there is no hard-rule in how you want to spread your team.
                        </li>
                        <li id="sec-office-stay">
                            Also, it is mandatory for a team to stay in office during the Knockathon event till the Working demo presentation. Ladies who are willing to stay in office during the night are welcome. But, if they prefer to hack from home, that is fine too.
                        </li>
                    </ul>
                </div>

                <div id="registration-process" class="col-md-12 col-md-offset-0 list">
                    <h2 class="medium">Registration Process</h2>
                    <ul>
                        <li>
                            The process is simple. <a href="#register-now">Click here</a> to know the details. register now.
                        </li>
                        <li>
                            Don't forget to collect your swags from the registration desk on August 5, 2016 at 1800 hours. It is only for participants. :)
                        </li>
                    </ul>
                </div>


                <div id="rejection-criteria" class="col-md-12 col-md-offset-0 list">
                    <h2 class="medium">Rejection Criteria</h2>
                    <ul>
                        <li>
                            Knockathon starts on Friday, August 5, 2016 at 1800 hours and ends on Saturday, August 6, 2016 at 2400 hours (mid-night). Any code committed into your Github repo after the deadline, will be rejected for your final build. But, there can be extreme cases. You may want to find legitimate reasons to convince the Knockathon team.
                        </li>
                        <li>
                            During the concept demo on Saturday morning, we merely look for some scribbled designs on a paper. Don't waste your time on making PPT or some neat design. However, if you don't have any solid idea, you can also provide the options you have in front you.
                            
                            <p><br/>In case, your idea collides with someone else's or is a rip-off of some well-known app, it will be rejected or advised to change.
                            </p>
                        </li>
                        <li>
                            During the event, it is mandatory for team members 
                            (except for ladies) to stay in office. If found otherwise, it may be a reason for rejection.
                        </li>
                    </ul>
                </div>

                <div id="presentations" class="col-md-12 col-md-offset-0 list">
                    <h2 class="medium">Presentations</h2>
                    <ul>
                        <li>
                            There will be three presentations &ndash;
                            <ul>
                                <li><strong>Idea Presentation</strong> &ndash; An hour after registration. This is going to be a very quick, punch line presentation on your idea to other teams. This presentation is to avoid confusions among other teams in case they end up thinking the same idea  as yours.
                                </li>
                                <li>
                                    <strong>Concept Presentation</strong> &ndash; You'll be presenting the concept. There may be eliminations if found the idea is copied or not complying with the theme. However, you can always rethink a new one! It means, the idea could be rejected but, the team can go back to their drawing boards.
                                </li>
                                <li>
                                    <strong>Working Demo</strong> &ndash; In the last checkpoint of the day, you will present a demo of your app / product in front of all your competitors.
                                </li>
                                <li>
                                    <strong>Final Presentation</strong> &ndash; You will present a working demo of your app / product in front of all your colleagues and the panel. They are going to vote to show their love.<br /><br />
                                    Note: The audience vote accounts for 30% of the total score. The voting will be anonymous.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>


                <div id="schedule-timelines" class="col-md-12 col-md-offset-0 list">
                    <h2 class="medium">Schedule &amp; Timelines</h2>
                    <br/>
                    <table class="table table-striped" style="font-size: 14px!important;">
                        <tr>
                            <th>Day</th>
                            <th>Time slot</th>
                            <th>Remarks</th>
                        </tr>
                        <tr>
                            <td class="info" rowspan="4">Fri, 5th</td>
                            <td>1800 – 1900 hours</td>
                            <td>Registration desk opens</td>
                        </tr>
                        <tr>
                            <td>1900 hours</td>
                            <td>Opening Bell</td>
                        </tr>
                        <tr>
                            <td>1900 &ndash; 1930 hours</td>
                            <td>Team introductions to others, followed by idea presentation</td>
                        </tr>
                        <tr>
                            <td>1930 &ndash; 0700 hours (+1)</td>
                            <td><code>Plan, Eat, Hack</code> <img
                                        src="http://diwc.co.uk/wp-content/uploads/2015/06/icon_6393.png" height="32"
                                        width="32"/><code>Plan, Eat, Hack</code></td>
                        </tr>
                        <tr>
                            <td class="success" rowspan="5">Sat, 6th</td>
                            <td>0830 &ndash; 1000 hours</td>
                            <td><strong>Idea Mockup - Presentation to Panel</strong></td>
                        </tr>
                        <tr>
                            <td>0900 &ndash; 1100 hours</td>
                            <td>Teams brain storm, place cards, planning phase</td>
                        </tr>
                        <tr>
                            <td>1100 &ndash; 1800 hours</td>
                            <td><code>Eat, Hack, Eat, Hack</code></td>
                        </tr>
                        <tr>
                            <td>1800 &ndash; 2000 hours</td>
                            <td><strong>Concept Presentation</strong></td>
                        </tr>
                        <tr>
                            <td>2000 &ndash; 2400 hours</td>
                            <td>Make final changes, if you feel like, or leave</td>
                        </tr>
                        <tr class="danger">
                            <td>Mon, 8th</td>
                            <td>1700 &ndash; 1900 hours</td>
                            <td><strong>Final Demo</strong></td>
                        </tr>
                    </table>
                </div>

                <div id="final-demo" class="col-md-12 col-md-offset-0 list">
                    <h2 class="medium">Final Demo Criteria</h2>
                    <ul>
                        <li>You should have a complete application that functions well. Bugs are okay but should not catch our eyes. Make sure you do a good job of hiding them.
                        </li>
                        <li>Note that all of your colleagues are going to vote and they are biased. However, your presentation and quality of the app / web app, should convince them to change their mind.
                        </li>
                        <li>
                            We don't review the code or architecture you've used, or whether you followed the design principles nor unit tests. Don't waste your time making solid code rather focus on fine tuning the user experience and presentation.
                        </li>
                        <li>
                            Audience will be asking questions during your presentation, make sure entire team is answering the questions. This shows how confident your team is on the business aspect of your app.
                        </li>
                    </ul>
                    <br /><br /><br />
                </div>

            </div>

        </div>
    </div>
</div>
