<div class="container-fluid border border-gray"></div>
<div class="container-fluid bg-gray rules">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-0">
                <h1 id="rules" class="text-shadow huge">Rules and Guidelines</h1>
            </div>
        </div>
        <div class="row tk-anisette-petite">
            <div class="col-md-8 col-md-offset-0 list">
                <h2 class="medium">Team Formation</h2>
                <ul>
                    <li>3-4 members are required in a team. No more or less is accepted.</li>
                    <li>Each team may include "Champ" (The one who codes and create) and "Hustlers" (the one who create
                        mockups, screenflow, specify requirement and presents). The Champs and Hustlers and merely roles
                        that one would assume of, what that person's real capabilities does not matter or not taken into
                        account. 000
                    </li>
                    <li>Teams have to be registered on Registration desk before event starts.</li>
                    <li>The office remains closed post 6.30 pm, for non-participants.</li>
                    <li>Idea presentation will start on Saturday (9/12) at 6.30 pm, member can leave once their
                        presentation is over.
                    </li>
                    <li>Female members are allowed (What is "allowed" here)to leave for home on friday night and can
                        support from home. However they need to be present for mockup presentation on saturday morning.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row tk-anisette-petite">
            <div class="col-md-8 col-md-offset-0 list">
                <h2 class="medium">Facilities</h2>
                <ul>
                    <li>Dinner, Snacks, Breakfast and lunch will be arranged for all members who'll stay in the
                        office.
                    </li>
                    <li>Teams can use any available space in the office premise.</li>
                    <li>Only the participants will receive the Exzeo Knockathon T-shirts.</li>
                </ul>
            </div>
        </div>
        <div class="row pd-5 tk-anisette-petite">
            <div class="col-md-8 col-md-offset-0 list">
                <h2 class="medium">Facilities</h2>
                <ul>
                    <li>The ideas will be evaluated by an independent panel of judges.</li>
                    <li>There will be two presentations - First, a concept presentation, team can use screen flow
                        diagram or prototype to showcase their idea. This will be done past half time. Finally, there
                        will be final evaluation presentation, where team will demonstrate their end product.
                    </li>
                    <li>All members must be present during final presentation.</li>
                    <li>Judges will hold the rights to reject an idea after concept evaluation.</li>
                    <li>The quality of the implementation is not considered to be 100% bug free.</li>
                    <li>The final demo of the working product will take place on Monday.</li>
                    <li>Code commits post 12:00 AM on Saturday will not be accepted.</li>
                    <li>70% of the scoring will be based on Panel's opinion, rest 30% will be decided based on Audience
                        Vote.
                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>