<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<div ng-app="teamApp" ng-controller="teamController">
    <div class="container-fluid border teams_border"></div>
    <div class="container-fluid bg-gray teams">
        <div class="container">

            <div class="row">
                <div class="col-md-offset-0 pd-5">
                    <h1 id="teams" class="text-shadow huge">Knockathon Teams</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-0 pd-5 tk-anisette-petite">
                    <p>
                        Here is the current status of teams participating in Knockathon. You don't see your name
                        yet? <i>Isn't that sad</i>?
                    </p>

                    <p>
                        <a href="#register-now">Register now</a>, you may not have slots in the teams as they are limited to 2-5 per team.
                    </p>
                </div>
            </div>

            <div clas="row">
                <div class="col-md-4 mt-15 tk-anisette-petite" ng-repeat="team in teams | unique: 'name'">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <div ng-if="team.profile_image !== null">
                                        <img class="media-object" width="24" height="24"
                                             src="https://static.tryexzeo.com/org/i/op/0/10286/{{ team.profile_image }}">
                                    </div>
                                    <div ng-if="team.profile_image === null">
                                        <img class="media-object" width="24" height="24"
                                             ng-src="https://s3.amazonaws.com/assets.tryexzeo.com/images/default_org.png">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3 class="panel-title"><strong>{{ team.name | lowercase}}</strong></h3>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">

                            <ul class="media-list">
                                <li class="media" ng-repeat="user in team.users | unique: 'name'">
                                    <div class="media-left">
                                        <div ng-if="user.profile_image === null">
                                            <img class="media-object" width="38" height="38"
                                                 src="https://s3.amazonaws.com/assets.tryexzeo.com/images/default_user.png">
                                        </div>
                                        <div ng-if="user.profile_image !== null">
                                            <img class="media-object" width="32" height="32"
                                                 ng-src="https://static.tryexzeo.com/usr/i/up/145092/29/{{user.profile_image}}">
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div ng-switch on="user.Status">
                                            <div ng-switch-when="RequestWithdrawn">
                                                <h5 class="media-heading"><strong>{{ user.name }}</strong></h5>
                                                <small class="bg-danger all-pd-2 text-shadow">Interested, but rejected
                                                </small>
                                            </div>
                                            <div ng-switch-when="Rejected">
                                                <h5 class="media-heading "><strong>{{ user.name }}</strong></h5>
                                                <small class="bg-danger all-pd-2 text-shadow">Interested, but rejected
                                                </small>
                                            </div>
                                            <div ng-switch-when="confirm">
                                                <h5 class="media-heading green"><strong>{{ user.name }}</strong></h5>
                                                <small class="bg-success all-pd-2 text-shadow">Invited, and joined
                                                </small>
                                            </div>
                                            <div ng-switch-when="Complete">
                                                <h5 class="media-heading green"><strong>{{ user.name }}</strong></h5>
                                                <small class="bg-success all-pd-2 text-shadow">Invited, and joined
                                                </small>
                                            </div>
                                            <div ng-switch-when="Accepted">
                                                <h5 class="media-heading green"><strong>{{ user.name }}</strong></h5>
                                                <small class="bg-success all-pd-2 text-shadow">Invited, and joined
                                                </small>
                                            </div>
                                            <div ng-switch-default>
                                                <h5 class="media-heading blue"><strong>{{ user.name }}</strong></h5>
                                                <small class="bg-info all-pd-2 text-shadow">Invited</small>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var app = angular.module('teamApp', []);
    app.controller('teamController', function ($scope, $http) {
        $http.get("https://teams.tryexzeo.com/knockathon/teams")
                .success(function (response) {
                    $scope.teams = response;
                })
    });
    app.filter('unique', function () {
        return function (collection, keyname) {
            var output = [],
                    keys = [];
            angular.forEach(collection, function (item) {
                var key = item[keyname];
                if (keys.indexOf(key) === -1) {
                    keys.push(key);
                    output.push(item);
                }
            });
            return output;
        };
    });
</script>

</body>
</html>
