<div class="container-fluid border theme_border"></div>
<div class="container-fluid theme bg-red">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-0 pd-5">
                <h1 id="themes" class="text-shadow huge">Knockathon Theme</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0 tk-anisette-petite list">
                <p><strong>Now the plot thickens .. </strong></p>

                <p>The theme will be disclosed on <strong class="themeu">September 11th morning</strong> in this very same section, so hang around this
                    page.</p>
            </div>
        </div>
        <div id="time-div" class="row text-center">
            <div class="clock"></div>
            <p class="tk-acuta" id="timer-message"></p>
        </div>
    </div>
</div>