<!--
<div class="container-fluid border border-gray"></div>
<div class="container-fluid bg-gray teams">
    <div class="container">

        <div class="row">
            <div class="col-md-offset-0 pd-5">
                <h1 id="teams" class="text-shadow huge">Knockathon Teams</h1>
            </div>
        </div>

        <div clas="row">
            <div class="col-md-4 mt-15">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">knockathon-marvel</h3>
                    </div>
                    <div class="panel-body">

                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="https://s3.amazonaws.com/assets.tryexzeo.com/images/default_user.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">Rajesh Khanna</h5>
                                    <small class="bg-info all-pd-2 text-shadow">Invited</small>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="https://s3.amazonaws.com/assets.tryexzeo.com/images/default_user.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body mt-15">
                                    <h5 class="media-heading">Kokki Kumar</h5>
                                    <small class="bg-success all-pd-2 text-shadow">Invited, and joined</small>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-15">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">knockathon-pandavs</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-15">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">knockathon-eagles</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
-->
