<div class="container-fluid border border-green"></div>
<div class="container-fluid bg-green what-is-it">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-0 pd-5">
                <h1 id="what-is-it" class="text-shadow huge">What is it?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-0 tk-anisette-petite medium text-shadow">
                <p>
                    Knockathon (or Hackathon, in general) is a very popular event in that computer programmers and
                    others
                    involved in software development and hardware development collobarate intensively to make something
                    useful at end of the event.
                </p>

                <p>
                    Note the "intense" word.
                </p>

                <p>
                    Yes, as a participant, one has to demonstrate great focus and willing to take any shape in order get
                    something useful done within a timeframe of 24-36 hours. It also means sleepless nights, lot energy
                    drinks, fun etc., and obviously rewards.
                </p>

                <p>
                    Here is how we planned our Knockathon -
                </p>
                <ul>
                    <li>First and foremost, this event is for everyone. Not just programmers.</li>
                    <li>Knockathon starts exactly at 6:30 PM on 11th Friday</li>
                    <li>(explain process high level, wherever require link rules)</li>
                    <li>...</li>
                </ul>
            </div>
        </div>
    </div>
</div>