<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center entry">
    <div class="container">
        <div class="row">
            <img src="/logo-no-foot.png"/>
        </div>
        <div class="row tit">
            <h1 class="tk-droid-serif text-shadow brown">Exzeo Knockathon</h1>
        </div>
        <div class="row stit">
            <h2 class="tk-acuta brown text-shadow">11 - 13 September 2015</h2>
        </div>
    </div>
</div>

<% include ../partials/nav.ejs %>
<% include ../partials/what-is.ejs%>
<% include ../partials/rules.ejs%>
<% include ../partials/theme.ejs%>
<% include ../partials/register.ejs%>


</body>
<script>
    $(document).ready(function () {
        var h = $(".entry").height() + $(".navbar").height() + 112;

        $(".what-is").height(h);
        $(".register").height(h);
        $(".theme").height(h);
    });

</script>
</html>
