<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body data-spy="scroll" data-target="#main-navbar">
<% include ../partials/nav.ejs %>
<% include ../partials/entry.ejs%>
<% include ../partials/what-is.ejs %>
<% include ../partials/rules.ejs %>
<% include ../partials/theme.ejs %>
<% include ../partials/register.ejs %>
<!--<% include ../partials/teams.htm%>-->
<% include ../partials/discuss.ejs%>
</body>
</html>
